<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tencent.qcloud.timchat">

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>

    <application>
        <!--android:allowBackup="true"-->
        <!--android:icon="@mipmap/ic_launcher"-->
        <!--android:label="@string/app_name"-->
        <!--android:supportsRtl="true"-->
        <!--android:theme="@style/AppTheme">-->

        <!--<meta-data-->
            <!--android:name="com.tencent.rdm.uuid"-->
            <!--android:value="ff184778-1bdb-481a-b701-11cccdc3b3d3"/>-->

        <!--<activity android:name=".ui.SplashActivity"-->
            <!--android:theme="@style/AppThemeNoActionBar">-->
            <!--&lt;!&ndash;<intent-filter>&ndash;&gt;-->
                <!--&lt;!&ndash;<action android:name="android.intent.action.MAIN"/>&ndash;&gt;-->

                <!--&lt;!&ndash;<category android:name="android.intent.category.LAUNCHER"/>&ndash;&gt;-->
            <!--&lt;!&ndash;</intent-filter>&ndash;&gt;-->
        <!--</activity>-->
        <!--<activity android:name=".ui.HomeActivity"/>-->
        <!--<activity-->
            <!--android:name=".ui.ChatActivity"-->
            <!--android:launchMode="singleTask"-->
            <!--android:windowSoftInputMode="adjustResize"/>-->
        <!--<activity android:name=".ui.SearchFriendActivity"/>-->
        <!--<activity android:name=".ui.AddFriendActivity"/>-->
        <!--<activity-->
            <!--android:name=".ui.ProfileActivity"-->
            <!--android:launchMode="singleTask"/>-->
        <!--<activity android:name=".ui.ManageFriendGroupActivity"/>-->
        <!--<activity android:name=".ui.VideoActivity"/>-->
        <!--<activity android:name=".ui.CreateGroupActivity"/>-->
        <!--<activity-->
            <!--android:name=".ui.GroupProfileActivity"-->
            <!--android:launchMode="singleTask"/>-->

        <!--&lt;!&ndash; 消息收发service &ndash;&gt;-->
        <!--<service-->
            <!--android:name="com.tencent.qalsdk.service.QalService"-->
            <!--android:exported="false"-->
            <!--android:process=":QALSERVICE"/>-->
        <!--<service-->
            <!--android:name="com.tencent.qalsdk.service.QalAssistService"-->
            <!--android:exported="false"-->
            <!--android:process=":QALSERVICE"/>-->
        <!--&lt;!&ndash; 离线消息广播接收器 &ndash;&gt;-->
        <!--<receiver-->
            <!--android:name="com.tencent.qalsdk.QALBroadcastReceiver"-->
            <!--android:exported="false">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.tencent.qalsdk.broadcast.qal"/>-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <!--&lt;!&ndash; 系统消息广播接收器 &ndash;&gt;-->
        <!--<receiver-->
            <!--android:name="com.tencent.qalsdk.core.NetConnInfoCenter"-->
            <!--android:process=":QALSERVICE">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.BOOT_COMPLETED"/>-->
            <!--</intent-filter>-->
            <!--<intent-filter>-->
                <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>-->
            <!--</intent-filter>-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.TIME_SET"/>-->
            <!--</intent-filter>-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.TIMEZONE_CHANGED"/>-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <!--<activity android:name=".ui.ImageViewActivity"/>-->
        <!--<activity android:name=".ui.EditActivity"/>-->
        <!--<activity android:name=".ui.SearchGroupActivity"/>-->
        <!--<activity android:name=".ui.ApplyGroupActivity"/>-->
        <!--<activity android:name=".ui.GroupManageMessageActivity"/>-->
        <!--<activity android:name=".ui.FriendshipManageMessageActivity"/>-->
        <!--<activity android:name=".ui.GroupListActivity"/>-->
        <!--<activity android:name=".ui.ChooseFriendActivity"/>-->
        <!--<activity android:name=".ui.GroupMemberActivity"/>-->
        <!--<activity-->
            <!--android:name=".ui.customview.DialogActivity"-->
            <!--android:theme="@android:style/Theme.Dialog"/>-->
        <!--<activity android:name=".ui.GroupMemberProfileActivity"/>-->
        <!--<activity android:name=".ui.FriendshipHandleActivity"></activity>-->
        <!--<activity android:name=".ui.AboutActivity"></activity>-->
    </application>

</manifest>
