<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.jumy.jumyframework">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">



        <activity android:name=".BaseActivity_"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

    </application>

</manifest>
